/*
 * Customization Variables
 */

$primary-color: #272727;
$accent-color: #3498db;
$background-color: #f4f4f4;
$font-primary: "Roboto", sans-serif;

$accent: #FF0F00;
$image-size: 85px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;



